
extends layout

block content

    h1 About 
    p #[strong Kurone] is a website made with #[strong Express] and #[strong Mongoose] 
        | for the backend, Pug for the 
        | HTML templates, Firebase to store files, and Tailwind CSS for the styling.
    p The idea of this website is to allow anime figure enthusiasts to share 
        | their findings with other people in an organized manner that hopefully 
        | will end up in a curated list of the best anime figures.

    p If you like my work or want to support my learning, I would very much 
        | appreciate it if you 
        a(href='https://www.buymeacoffee.com/kuromika') #[strong buy me a Coffee]

    

