extends layout

block content
    h1= title
    a(href='/figure/create') Create new figure
    ul 
        each figure in figures
            li
                a(href=figure.url) #{figure.name}   
        else
            li There aren't figures yet
