doctype html
html
  head
    title Kurone Figures
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Kurone Figures
      nav
        ul(class='flex')
          li
            a(href='/') Index
          li
            a(href='/figures') Figures
          li
            a(href='/characters') Characters
          li
            a(href='/franchises') Franchises
          li 
            a(href='/about') About

    block content
